*,*:after {
	box-sizing: border-box;
	font-family: Helvetica;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

header, section {
	width: 100%;




}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;


}

.container.inner {
	padding: 0px 20px;

}

header {
	display:block;
	position:fixed;

}

nav {
	width :100%;
	max-width: 1000px;
	height: 55px;
	background-color: #FFF;
	padding: 2px auto;
	margin:auto;
}

section {
	background-color: #fff;

}

nav ul {
	float: right;
	text-align: right;
}

nav ul li {
	display: inline;
}

nav ul li a {
	padding: 15px;
	text-decoration: none;
	color: #000;
	transition: all .5s;
}

nav ul li a.active {
	color: #F99E1A;
}

nav ul li a:hover {
	border-bottom: 3px solid #F99E1A;
}

.brand {
	float: left;
}

.block2 {
	width: 50%;
	float: left;
	padding: 20px;
	color: #000;

}

.block3 {
	width: 33.33333%;
	float: left;
	padding: 20px;

}

img {
	max-width: 100%;


}

img.scale {
	transition: all 0.5s;

}

img.scale:hover {

}

.container:after, .block3:after, .block2:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;

}

form {
	margin: 0 auto;
	max-width: 500px;
	padding: 0 20px;

}

form .formgroup {
	padding: 5px 0;
}

label {
	float: left;
}

form .formgroup div {
	padding-left: 150px;
}

input {
	width: 100%;
	padding: 7px;
}

button {
	padding: 7px 15px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #F99E1A;
}
.block2::first-letter {
	font-size: 31px;
	float:left;
	padding-right: 5px;
}
input[type=text] {
	border-color: #F99E1A;
	border-radius: 5px;
 }
section.container div.block3:hover img{
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	transform: scale(1.2);
	border-radius: 10px;
}
